@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 60px 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px rgb(194, 194, 194, .5);
}

main h1 {
    font-size: 36px;
    color: #FA7788;
}

main h2 {
    font-weight: 400;
    text-align: center;
}

main h2 a {
    color: #FA7788;
}

main h2 a:hover {
    text-decoration: underline;
}

form {
    max-width: 500px;
    text-align: center;
}

form > i {
    font-size: 40px;
    margin: 10px 0px;
    background-color: #f56377;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

.form__group {
    margin: 10px 0px;
}

.form__group i {
    color: #FA7788;
    font-size: 20px;
}

.form__group input {
    margin-left: 10px;
    padding: 8px;
    width: 80%;
    background-color: #ebebeb;
    border: none;
    outline: none;
    font-size: 16px;
}

.form__group input::placeholder {
    font-size: 16px;
}

form .button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FA7788;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

form .button:hover {
    background-color: #f56377;
}